
.container{
    position: absolute;
    background: transparent;
    top: 0;
    width: 80%;
    margin: auto;
    z-index: 20;
    left: 0;
    right: 0;
    backdrop-filter: blur(2px);
}

.sub_container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.logo{
    width: 80px;
}

.navLinks{
    display: flex;
    justify-content: space-between;
}
.navLinks a, .sec_navLinks a{
    color:white;
    margin-right: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all .8s ease;
  font-size: 17px;
  font-weight: 700;
}

.navLinks a:hover, .sec_navLinks a:hover{
    background-color: white;
    color: purple;
}




.burger{
    font-size: 23px;
    color: white;
    cursor: pointer;
    display: none;
}

.sec_navLinks{
    display: none;
}


@media screen and (max-width:1100px){
    .navLinks a, .sec_navLinks a{
      padding: .9em 2em;
      font-size: 12px;
    }
    .logo p{
        font-size: 37px;
        font-weight: 700;
    }
    
}
@media screen and (max-width:768px){

    .logo{
        width: 60px;
    }
    .navLinks{
        display: none;
    }

    .sec_navLinks{
        display: flex;
        justify-content: initial;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background: rgba(0,0,0,0.9);
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 0;
        margin-right: 0;
        height: 60vh;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .sec_navLinks a{
        margin: auto;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
  .logo p{
    font-size: 23px;
  }

    .burger{
        display: block;
    }
}

