.upcoming{
    margin: 100px 0;
}


.container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    width: 45%;
}

.left header{
    font-size: 70px;
    color: white;
    margin-bottom: 15px;
    position: relative;
}

.left header:after{
  content: "";
  position: absolute;
  bottom: -10%;
  background: linear-gradient(0deg, rgb(2, 1, 24) 0%,
  rgb(231, 9, 213) 50%, rgb(31, 2, 58) 100%);  left: 0;
  width: 50%;
  height: 3%;
  border-radius: 7px;
}

.left p{
    margin-top: 45px;
    line-height: 30px;
    font-size: 14px;
    text-align: justify;
}

.left button{
    --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  padding: .5em 2em;
  color: var(--glow-color);
  font-size: 13px;
  font-weight: bold;
  background-color: var(--btn-color);
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 20px;
  }

.pc{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
    gap: 10px;
}

.img{
    width: 250px;
}

.img img{
    border-radius: 7px;
}

.mobile{
    display: none;
}


@media screen and (max-width: 1300px) {
    .left header{
        font-size:60px;
        color: white;
        margin-bottom: 15px;
        position: relative;
    }
    .img{
        width: 240px;
    }
}

@media screen and (max-width: 1000px) {
    .left header{
        font-size:45px;
        color: white;
        margin-bottom: 15px;
        position: relative;
    }
    .left{
        width: 60%;
    }
    .img{
     display: none;    
    }
}


@media screen and (max-width: 700px) {

    .upcoming{
        margin: 50px 0;
    }

    .container{
        width: 80%;
        flex-direction: column;
    }
    
    .left{
        width: 100%;
    }
    
    .left header{
        font-size: 40px;
        color: white;
        margin-bottom: 15px;
        position: relative;
    }
    
    .left header:after{
      content: "";
      position: absolute;
      bottom: -15%;
      background: linear-gradient(0deg, rgb(2, 1, 24) 0%,
      rgb(231, 9, 213) 50%, rgb(31, 2, 58) 100%);  left: 0;
      width: 50%;
      height: 3%;
      border-radius: 7px;
    }
    
    .left p{
        margin-top: 45px;
        line-height: 30px;
        font-size: 14px;
        text-align: left;
    }
    
    .pc{
        display: none;
    }

    .mobile{
        display: block;
    }
    
    .right{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: flex-end;
        gap: 10px;
        margin: auto;
        justify-content: center;
        margin-top: 30px;
    }
    
    .img{
        width: 130px;
        display: block;
    }
    
    .img img{
        border-radius: 7px;
    }


}